In [1]:
import pandas as pd
import numpy as np

s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [2]:
dates = pd.date_range('20200229', periods=7)
dates

DatetimeIndex(['2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
               '2020-03-04', '2020-03-05', '2020-03-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(7,4), index=dates, columns=['A','B','C','D'])

df

                   A         B         C         D
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-02  0.365996 -0.474897  0.944967 -0.988583
2020-03-03  0.366000 -2.281460  0.788201  0.476776
2020-03-04  1.675193  0.934054 -0.461774 -0.364926
2020-03-05 -0.171717 -0.763285  1.788973  0.174154
2020-03-06  0.478139  1.214840 -0.214109 -2.086719

In [10]:

df.head(3)

                   A         B         C         D
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-02  0.365996 -0.474897  0.944967 -0.988583

In [11]:

df.index

DatetimeIndex(['2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
               '2020-03-04', '2020-03-05', '2020-03-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:

df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:

df.values

array([[ 0.3325048 , -0.24759504,  0.0330994 ,  0.16777377],
       [-0.62386071, -1.82353463,  1.47386263,  0.37019021],
       [ 0.36599606, -0.47489709,  0.94496673, -0.98858317],
       [ 0.36599991, -2.28146047,  0.78820107,  0.47677555],
       [ 1.67519323,  0.93405426, -0.46177395, -0.36492568],
       [-0.17171707, -0.76328546,  1.78897337,  0.17415421],
       [ 0.47813949,  1.21484027, -0.21410909, -2.08671903]])

In [15]:

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7 entries, 2020-02-29 to 2020-03-06
Freq: D
Data columns (total 4 columns):
A    7 non-null float64
B    7 non-null float64
C    7 non-null float64
D    7 non-null float64
dtypes: float64(4)
memory usage: 280.0 bytes

In [16]:
df.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean   0.346037 -0.491697  0.621889 -0.321619
std    0.706383  1.294585  0.860220  0.927688
min   -0.623861 -2.281460 -0.461774 -2.086719
25%    0.080394 -1.293410 -0.090505 -0.676754
50%    0.365996 -0.474897  0.788201  0.167774
75%    0.422070  0.343230  1.209415  0.272172
max    1.675193  1.214840  1.788973  0.476776

In [25]:

df.sort_values(by='B' , ascending=False)

                   A         B         C         D
2020-03-06  0.478139  1.214840 -0.214109 -2.086719
2020-03-04  1.675193  0.934054 -0.461774 -0.364926
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-02  0.365996 -0.474897  0.944967 -0.988583
2020-03-05 -0.171717 -0.763285  1.788973  0.174154
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-03  0.366000 -2.281460  0.788201  0.476776

In [26]:
df

                   A         B         C         D
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-02  0.365996 -0.474897  0.944967 -0.988583
2020-03-03  0.366000 -2.281460  0.788201  0.476776
2020-03-04  1.675193  0.934054 -0.461774 -0.364926
2020-03-05 -0.171717 -0.763285  1.788973  0.174154
2020-03-06  0.478139  1.214840 -0.214109 -2.086719

In [28]:
df['A']

2020-02-29    0.332505
2020-03-01   -0.623861
2020-03-02    0.365996
2020-03-03    0.366000
2020-03-04    1.675193
2020-03-05   -0.171717
2020-03-06    0.478139
Freq: D, Name: A, dtype: float64

In [30]:
df[0:3]

                   A         B         C         D
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-02  0.365996 -0.474897  0.944967 -0.988583

In [31]:
df['2020-03-03':'2020-03-05']

                   A         B         C         D
2020-03-03  0.366000 -2.281460  0.788201  0.476776
2020-03-04  1.675193  0.934054 -0.461774 -0.364926
2020-03-05 -0.171717 -0.763285  1.788973  0.174154

In [32]:
df.loc[dates[0]]

A    0.332505
B   -0.247595
C    0.033099
D    0.167774
Name: 2020-02-29 00:00:00, dtype: float64

In [33]:
df.loc[:,['A','B']]

                   A         B
2020-02-29  0.332505 -0.247595
2020-03-01 -0.623861 -1.823535
2020-03-02  0.365996 -0.474897
2020-03-03  0.366000 -2.281460
2020-03-04  1.675193  0.934054
2020-03-05 -0.171717 -0.763285
2020-03-06  0.478139  1.214840

In [40]:
df.loc['2020-03-03':,['A','B']]

                   A         B
2020-03-03  0.366000 -2.281460
2020-03-04  1.675193  0.934054
2020-03-05 -0.171717 -0.763285
2020-03-06  0.478139  1.214840

In [44]:
df.loc['20200302':'20200305',['C','D']]

                   C         D
2020-03-02  0.944967 -0.988583
2020-03-03  0.788201  0.476776
2020-03-04 -0.461774 -0.364926
2020-03-05  1.788973  0.174154

In [43]:
df.loc['2020-03-02':'2020-03-05',['C','D']]

                   C         D
2020-03-02  0.944967 -0.988583
2020-03-03  0.788201  0.476776
2020-03-04 -0.461774 -0.364926
2020-03-05  1.788973  0.174154

In [45]:
df.loc['20200303','A']

0.36599991080138533

In [50]:
df.loc['2020-03-01',['A','D']]

A   -0.623861
D    0.370190
Name: 2020-03-01 00:00:00, dtype: float64

In [51]:
df.loc['2020-03-01','A':'D']

A   -0.623861
B   -1.823535
C    1.473863
D    0.370190
Name: 2020-03-01 00:00:00, dtype: float64

In [56]:
df.loc['2020-03-01']

A   -0.623861
B   -1.823535
C    1.473863
D    0.370190
Name: 2020-03-01 00:00:00, dtype: float64

In [62]:
df.loc['2020-03-01':'2020-03-03']

                   A         B         C         D
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-02  0.365996 -0.474897  0.944967 -0.988583
2020-03-03  0.366000 -2.281460  0.788201  0.476776

In [65]:
df.iloc[3]

A    0.366000
B   -2.281460
C    0.788201
D    0.476776
Name: 2020-03-03 00:00:00, dtype: float64

In [74]:
df.iloc[:,3]

2020-02-29    0.167774
2020-03-01    0.370190
2020-03-02   -0.988583
2020-03-03    0.476776
2020-03-04   -0.364926
2020-03-05    0.174154
2020-03-06   -2.086719
Freq: D, Name: D, dtype: float64

In [73]:
df['D']

2020-02-29    0.167774
2020-03-01    0.370190
2020-03-02   -0.988583
2020-03-03    0.476776
2020-03-04   -0.364926
2020-03-05    0.174154
2020-03-06   -2.086719
Freq: D, Name: D, dtype: float64

In [75]:
df.iloc[3:5,0:2]

                   A         B
2020-03-03  0.366000 -2.281460
2020-03-04  1.675193  0.934054

In [77]:
df.iloc[[1,2,4,],[0,1]]

                   A         B
2020-03-01 -0.623861 -1.823535
2020-03-02  0.365996 -0.474897
2020-03-04  1.675193  0.934054

In [86]:
df.iloc[1:3,:]

                   A         B         C         D
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-02  0.365996 -0.474897  0.944967 -0.988583

In [87]:
df.iloc[:,1:3]

                   B         C
2020-02-29 -0.247595  0.033099
2020-03-01 -1.823535  1.473863
2020-03-02 -0.474897  0.944967
2020-03-03 -2.281460  0.788201
2020-03-04  0.934054 -0.461774
2020-03-05 -0.763285  1.788973
2020-03-06  1.214840 -0.214109

In [88]:
df

                   A         B         C         D
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-02  0.365996 -0.474897  0.944967 -0.988583
2020-03-03  0.366000 -2.281460  0.788201  0.476776
2020-03-04  1.675193  0.934054 -0.461774 -0.364926
2020-03-05 -0.171717 -0.763285  1.788973  0.174154
2020-03-06  0.478139  1.214840 -0.214109 -2.086719

In [89]:
df[df.A>0]

                   A         B         C         D
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-02  0.365996 -0.474897  0.944967 -0.988583
2020-03-03  0.366000 -2.281460  0.788201  0.476776
2020-03-04  1.675193  0.934054 -0.461774 -0.364926
2020-03-06  0.478139  1.214840 -0.214109 -2.086719

In [91]:
df[df > 0]

                   A         B         C         D
2020-02-29  0.332505       NaN  0.033099  0.167774
2020-03-01       NaN       NaN  1.473863  0.370190
2020-03-02  0.365996       NaN  0.944967       NaN
2020-03-03  0.366000       NaN  0.788201  0.476776
2020-03-04  1.675193  0.934054       NaN       NaN
2020-03-05       NaN       NaN  1.788973  0.174154
2020-03-06  0.478139  1.214840       NaN       NaN

In [93]:
df2 = df.copy()

In [94]:
df2

                   A         B         C         D
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-02  0.365996 -0.474897  0.944967 -0.988583
2020-03-03  0.366000 -2.281460  0.788201  0.476776
2020-03-04  1.675193  0.934054 -0.461774 -0.364926
2020-03-05 -0.171717 -0.763285  1.788973  0.174154
2020-03-06  0.478139  1.214840 -0.214109 -2.086719

In [96]:
df2['E'] = ['one', 'one','two','three','four','three','seven']

In [97]:
df2

                   A         B         C         D      E
2020-02-29  0.332505 -0.247595  0.033099  0.167774    one
2020-03-01 -0.623861 -1.823535  1.473863  0.370190    one
2020-03-02  0.365996 -0.474897  0.944967 -0.988583    two
2020-03-03  0.366000 -2.281460  0.788201  0.476776  three
2020-03-04  1.675193  0.934054 -0.461774 -0.364926   four
2020-03-05 -0.171717 -0.763285  1.788973  0.174154  three
2020-03-06  0.478139  1.214840 -0.214109 -2.086719  seven

In [102]:
df2['E'].isin(['two','four'])

2020-02-29    False
2020-03-01    False
2020-03-02     True
2020-03-03    False
2020-03-04     True
2020-03-05    False
2020-03-06    False
Freq: D, Name: E, dtype: bool

In [104]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2020-03-02  0.365996 -0.474897  0.944967 -0.988583   two
2020-03-04  1.675193  0.934054 -0.461774 -0.364926  four

In [108]:
df.apply(np.cumsum)

                   A         B         C         D
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-01 -0.291356 -2.071130  1.506962  0.537964
2020-03-02  0.074640 -2.546027  2.451929 -0.450619
2020-03-03  0.440640 -4.827487  3.240130  0.026156
2020-03-04  2.115833 -3.893433  2.778356 -0.338769
2020-03-05  1.944116 -4.656718  4.567329 -0.164615
2020-03-06  2.422256 -3.441878  4.353220 -2.251334

In [106]:
df

                   A         B         C         D
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-02  0.365996 -0.474897  0.944967 -0.988583
2020-03-03  0.366000 -2.281460  0.788201  0.476776
2020-03-04  1.675193  0.934054 -0.461774 -0.364926
2020-03-05 -0.171717 -0.763285  1.788973  0.174154
2020-03-06  0.478139  1.214840 -0.214109 -2.086719

In [107]:
df.apply

<bound method DataFrame.apply of                    A         B         C         D
2020-02-29  0.332505 -0.247595  0.033099  0.167774
2020-03-01 -0.623861 -1.823535  1.473863  0.370190
2020-03-02  0.365996 -0.474897  0.944967 -0.988583
2020-03-03  0.366000 -2.281460  0.788201  0.476776
2020-03-04  1.675193  0.934054 -0.461774 -0.364926
2020-03-05 -0.171717 -0.763285  1.788973  0.174154
2020-03-06  0.478139  1.214840 -0.214109 -2.086719>

In [109]:
df.apply(lambda x: x.max() - x.min())

A    2.299054
B    3.496301
C    2.250747
D    2.563495
dtype: float64