In [4]:
import pandas as pd
stocks = pd.read_excel('stocks.xlsx')

In [5]:
stocks

     stock       code
0   Lgchem  051910.KS
1    hynix  000660.KS
2  Hmotors  005380.KS

In [27]:
stock_list={}
for i in range(0,3):
    key=stocks.loc[i,'stock']
    print(key)
    value=stocks.loc[i,'code']
    print(value)
    stock_list[key]=value

Lgchem
051910.KS
hynix
000660.KS
Hmotors
005380.KS

In [9]:
stock_list

{'Lgchem': '051910.KS', 'hynix': '000660.KS', 'Hmotors': '005380.KS'}

In [39]:
import yfinance as yf
data=pd.DataFrame()

In [40]:
data

Empty DataFrame
Columns: []
Index: []

In [41]:
for key in stock_list:
    code=stock_list[key]
    print(code)
    data[key]=yf.download(code, start="2018-02-01", end="2018-02-02")['Close']
print(data)

051910.KS
[*********************100%***********************]  1 of 1 completed
000660.KS
[*********************100%***********************]  1 of 1 completed
005380.KS
[*********************100%***********************]  1 of 1 completed
              Lgchem    hynix   Hmotors
Date
2018-02-01  418500.0  74400.0  160500.0