In [2]:
import numpy as np
import pandas as pd
import yfinance as yf
from math import *

df = pd.DataFrame()
stock="Samsung"
code="005930.KS"
df=yf.download(code, "2019-12-01","2019-12-27")
df['obv']=np.zeros(df.shape[0])
df.head()

[*********************100%***********************]  1 of 1 completed

               Open     High      Low    Close  Adj Close    Volume  obv
Date
2019-12-02  50900.0  51300.0  50400.0  50400.0    50400.0  18877252  0.0
2019-12-03  49800.0  50300.0  49500.0  49900.0    49900.0  12059812  0.0
2019-12-04  49600.0  49850.0  49000.0  49450.0    49450.0  13246549  0.0
2019-12-05  50200.0  50400.0  49500.0  49500.0    49500.0  10449715  0.0
2019-12-06  50100.0  50900.0  49950.0  50400.0    50400.0  11414563  0.0

In [3]:
stock = input("Enter firm name: ")
code = input("Enter stock name: ")
data = pd.DataFrame()
data[stock]=yf.download(code, "2019-12-01","2019-12-27")["Close"]
data.head()

Enter firm name: Samsung
Enter stock name: 005930.KS
[*********************100%***********************]  1 of 1 completed

            Samsung
Date
2019-12-02  50400.0
2019-12-03  49900.0
2019-12-04  49450.0
2019-12-05  49500.0
2019-12-06  50400.0