In [2]:
#1번문제
import pandas as pd
stocks = pd.read_excel('stocks.xlsx')

In [5]:
stocks

     stock       code
0   Lgchem  051910.KS
1    hynix  000660.KS
2  Hmotors  005380.KS

In [27]:
stock_list={}
for i in range(0,3):
    key=stocks.loc[i,'stock']
    print(key)
    value=stocks.loc[i,'code']
    print(value)
    stock_list[key]=value

Lgchem
051910.KS
hynix
000660.KS
Hmotors
005380.KS

In [9]:
stock_list

{'Lgchem': '051910.KS', 'hynix': '000660.KS', 'Hmotors': '005380.KS'}

In [4]:
import yfinance as yf
data=pd.DataFrame()

In [40]:
data

Empty DataFrame
Columns: []
Index: []

In [41]:
for key in stock_list:
    code=stock_list[key]
    print(code)
    data[key]=yf.download(code, start="2018-02-01", end="2018-02-02")['Close']
print(data)

051910.KS
[*********************100%***********************]  1 of 1 completed
000660.KS
[*********************100%***********************]  1 of 1 completed
005380.KS
[*********************100%***********************]  1 of 1 completed
              Lgchem    hynix   Hmotors
Date
2018-02-01  418500.0  74400.0  160500.0

In [8]:
#2번문제
from datetime import datetime
stocks = {'Mobis': '012330.KS', 'LGchem':'051910.Ks'}
data=pd.DataFrame()
for key in stocks:
    code=stocks[key]
    data[key]=yf.download(code, start="2019-01-04", end="2019-01-11")["Close"]
print(data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
               Mobis    LGchem
Date
2019-01-04  199500.0  330500.0
2019-01-07  198500.0  343000.0
2019-01-08  193000.0  349500.0
2019-01-09  202500.0  352000.0
2019-01-10  196000.0  347000.0

In [9]:
data['Mobis_MA']=data['Mobis'].rolling(5).mean()
data['LGchem_MA']=data['LGchem'].rolling(5).mean()
print(data)

               Mobis    LGchem  Mobis_MA  LGchem_MA
Date
2019-01-04  199500.0  330500.0       NaN        NaN
2019-01-07  198500.0  343000.0       NaN        NaN
2019-01-08  193000.0  349500.0       NaN        NaN
2019-01-09  202500.0  352000.0       NaN        NaN
2019-01-10  196000.0  347000.0  197900.0   344400.0

In [10]:
data.dropna(axis=0,inplace=True)
print(data)

               Mobis    LGchem  Mobis_MA  LGchem_MA
Date
2019-01-10  196000.0  347000.0  197900.0   344400.0